<h1>About us</h1><br><br>

&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<a href='home.html'><button type="button" class="button button5">Home</button></a>



<style>
table, th, td {
    border: 1px solid black;
  }
  
body{background-color:rgb(78, 218, 208);text-align:center;
color:black;}
nav{background-color:white;}


.button5 {border-radius: 50px;background-color: #cc1212;}
  </style>
  



<body>
   
    <table>
        <tr>
          <td><h4>who are we?<p>hi ism gbe  jkkjkfh hkfkkfvkhgg kflflffhfgj klkrkr</p></h4></td>
          <td><h4>what is NFT?</h4></td>
        </tr>
        <tr>
          <td><h4>What do we do?</h4></td>
          <td><h4>is this website secure?</h4></td>
        </tr>
      </table>

</body>
