{% extends 'index.html' %}
{% load static %}

{% block nav %}


{% if isLogin == True %}

<link rel="stylesheet"
  href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">


<div class="container">
      <div class="page-header">
        <h2>My Account</h2><br><br>
          <a href="{% url 'UserApp:logout' %}">
          <button type="button" class="btn btn-light">Logout</button><br>
              </a>
      </div>
      <div class="profile">
        <div class="profile-image">
          <img src="https://via.placeholder.com/200x200" alt="Profile Image">
        </div>
        <div class="profile-details">
          <h3>{{ name }}</h3>
          <p>{{ email }}</p>
          <p>{{ phone }}</p>

        <div class="profile-actions">
            <a href="{% url 'UserApp:changeProfile' %}">
                <button>Edit Profile</button></a>
            <a href="{% url 'UserApp:changePass' %}">
          <button>Change Password</button></a>
        </div>

      </div>
      </div>
    </div>
</div>


<br>

  {% else %}
  <h1>ERROR 404!!!</h1>

  {% endif %}


  <!--
</div>
<div class="frame" id="child1">
  <iframe height="750" width="1100" name="farmeshow" title="Iframe Example"></iframe>
</div>-->
  {% endblock %}