{% extends 'index.html' %}
{% load static %}

{% block nav %}
<html>
<head>

<style>
body{
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(174, 170, 170);
  }

  .registration-form{
    width: 400;
    height: 440;
    margin: 4px auto 0;
    border: 2px solid #ccc;
    padding: 30px;
    box-shadow: 0 0 20px #ccc;
}

</style>
</head>


{% if messages %}
{% for message in messages %}


<body>


<div class="alert alert-danger" role="alert">
  {{message}}
</div>
{% endfor %}
{% endif %}


<form action="" name="f1" onsubmit="return validate()" method="post">
  {% csrf_token %}
  <div class="registration-form">
    <img src="{% static 'AdminApp/img/img_551372.png' %}" height="90px" width="90px"><br>
    <h3>Sign up new user account</h3>
    <table>
      <tr>
        <td>Account Address:</td>
        <td><input type="text" name="address" class="text text1" placeholder="Enter address "
            pattern="0x[0-9A-Za-z]{40}" required />
          <span id="addrelocation" style="color:red"></span>
        </td>
      </tr>

      <tr>
        <td>Username:</td>
        <td><input type="text" name="name" class="text text1" placeholder="Enter your name " required/>
          <span id="namelocation" style="color:red"></span>
        </td>
      </tr>
      <!--<tr><td>Phone:</td><td><input type="number" class="text text1" id="phone" name="phone" placeholder="968-xxxxxxxx" pattern="968-[0-9]{8}" />  
    <span id="phonelocation" style="color:red"></span></td></tr> -->

      <tr>
        <td>Email:</td>
        <td>
          <input type="email" class="text text1" name="email" placeholder="example@123.com" required/>
          <span id="emlocation" style="color:red"></span>
        </td>
      </tr>

      <tr>
        <td>Phone:</td>
        <td>
          <input type="tel" class="text text1" id="my_phone" name="phone" placeholder="968-xxxxxxxx"
            pattern="968-[0-9]{8}" required/>
          <span id="phonelocation" style="color:red"></span>
        </td>
      </tr>




      <tr>
        <td>Password:</td>
        <td><input type="password" name="password" placeholder="Password" class="password pass1" required/>
          <span id="passwordlocation" style="color:red"></span>
        </td>
      </tr>

      <tr>
        <td>Confirm Password:</td>
        <td><input type="password" name="cpassword" class="password pass1" placeholder="Confirm Password" required/>
          <span id="cplocation" style="color:red"></span>
        </td>
      </tr>


      <tr>
        <td></td>
        <td colspan="2"><input type="submit" value="Submit" class="btn btn-primary w-100"
            onclick="ValidateEmail(document.f1.email)" /> </td>
      </tr>
    </table><br>
    <a href="{% url 'UserApp:login' %}" style="text-decoration:none">Alredy have account? sign in</a>
  </div>
</form>

</body>



<script>//for phone format


  var phone_input = document.getElementById("my_phone");

  phone_input.addEventListener('input', () => {
    phone_input.setCustomValidity('');
    phone_input.checkValidity();
  });

  phone_input.addEventListener('invalid', () => {
    if (phone_input.value === '') {
      phone_input.setCustomValidity('Enter phone number!');
    } else {
      phone_input.setCustomValidity('Enter phone number in this format: 968-xxxxxxxx');
    }
  });
</script>




<script type="text/javascript">

  //email validate
  function ValidateEmail(input) {
    var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;


    if (input.value == "") {
      document.getElementById("emlocation").innerHTML =
        "  <br>Enter email!";
      document.f1.email.focus();
      return false;
    }

    else if (input.value.match(validRegex)) {
      document.getElementById("emlocation").innerHTML =
        "";
      document.f1.email.focus();
      return true;

    } else {
      document.getElementById("emlocation").innerHTML =
        "  <br>Invalid email!";
      document.f1.email.focus();
      return false;
    }
  }




  var phone_input = document.getElementById("my_phone");

  phone_input.addEventListener('input', () => {
    phone_input.setCustomValidity('');
    phone_input.checkValidity();
  });

  phone_input.addEventListener('invalid', () => {
    if (phone_input.value === '') {
      phone_input.setCustomValidity('Enter phone number!');
    }
    else {
      phone_input.setCustomValidity('Enter phone number in this format: 968-xxxxxxxx');
    }
  });



  function validate() {

    var address = document.f1.address.value;
    var name = document.f1.name.value;
    var phone = document.f1.phone.value;
    var password = document.f1.password.value;
    // var email=document.f1.email.value;
    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    //var birthday=document.f1.birthday.value;
    var cpassword = document.f1.cpassword.value;
    var passwordlength = document.f1.password.value.length;
    var status = false;



    if (name == "") {
      document.getElementById("namelocation").innerHTML =
        " <br>Please enter your name!";
      status = false;
    } else {
      document.getElementById("namelocation").innerHTML =
        "";
      status = true;
    }



    if (address == "") {
      document.getElementById("addrelocation").innerHTML =
        " <br>Please enter your wallet address!";
      status = false;
    } else {
      document.getElementById("addrelocation").innerHTML =
        "";
      status = true;
    }



    if (phone == "") {
      document.getElementById("phonelocation").innerHTML =
        " <br>Please enter your Phone number!";
      status = false;
    } else {
      document.getElementById("phonelocation").innerHTML =
        "";
      status = true;
    }

    if (cpassword == "") {
      document.getElementById("cplocation").innerHTML =
        "  <br>Please enter confirm password!";
      status = false;
    } else {
      document.getElementById("cplocation").innerHTML =
        "";
      status = true;
    }




    if (password == "") {
      document.getElementById("passwordlocation").innerHTML =
        "  <br>please Enter Password!";
      status = false;
    }
    else if (passwordlength <= 6) {
      document.getElementById("passwordlocation").innerHTML =
        "  <br>**Password must be greater than 6";
      status = false;
    }
    else {
      document.getElementById("passwordlocation").innerHTML =
        "";
      document.getElementById("cplocation").innerHTML =
        "";
      status = true;
    }

    if (password !== cpassword) {
      document.getElementById("cplocation").innerHTML =
        "  <br>Password don't match!";
      status = false;
    }


    return status;
  }  
</script>

{% endblock %}